{{ define "main" }}

<section class="page-about">

  <div class="container">

    <h1>Chi sono</h1>
    <p class="subtitle">
      Un percorso personale che è diventato strumento di aiuto per gli altri.
    </p>

   <div class="about-long">

  <div class="about-text">
    {{ .Content }}
  </div>

  <div class="about-side">
    <img src="/img/maura.png" alt="Maura Balocco">
  </div>

</div>

<div class="about-cta-group">

  <a href="/contatti" class="btn-primary">
    Prenota un colloquio
  </a>

  <a href="https://www.youtube.com/watch?v=xPB6siATFq8"
     target="_blank"
     rel="noopener"
     class="btn-secondary">
    ▶ Guarda il video di presentazione
  </a>

</div>
  
</section>

{{ end }}