{{ define "main" }}

<section class="page-about">

  <div class="container">

    <h1>Chi sono</h1>
    <p class="subtitle">
      Un percorso personale che è diventato strumento di aiuto per gli altri.
    </p>

    <div class="about-long">

      <div class="about-text">
        {{ .Content }}
      </div>

      <div class="about-side">
        <img src="/img/maura.png" alt="Maura Balocco">
      </div>
      
    </div>
    <a href="#" class="btn">Prenota un  colloquio</a>
  </div>
  
</section>

{{ end }}