{{ define "main" }}

<section class="contatti-page">

 <div class="contatti-container">

  <div class="content-wrapper">

    <!-- HEADER CENTRALE -->
    <header class="contatti-header">
      <h1>Parla con me</h1>

      <p class="contatti-intro">
        Se senti che qualcosa dentro di te chiede attenzione,
        questo è il momento giusto per ascoltarlo.
      </p>

      <p class="contatti-soft">
        Puoi scrivermi senza impegno.<br>
        <strong>Ti risponderò personalmente.</strong>
      </p>
    </header>

    <!-- LAYOUT A DUE COLONNE -->
    <div class="contatti-layout single">

      <div class="contatti-center">

         <div class="contact-divider"></div>

        <div class="contatti-info">
          <p><strong>Email</strong><br>info@maurabalocco.com</p>
          <p><strong>Telefono</strong><br>+39 347 133 7599</p>

          <a href="https://wa.me/+393471337599" class="btn">
            Scrivimi su WhatsApp
          </a>
        </div>

        <div class="contact-divider"></div>

        <div class="contatti-form">
         
          <img src="/img/wlaspiga.png" class="form-deco" alt="">
            <h3 class="form-title">Vuoi scrivermi?</h3>

          <div class="form-grid">
            <input type="text" placeholder="Nome">
            <input type="email" placeholder="Email">
            <textarea placeholder="Scrivimi cosa senti, anche poche parole..."></textarea>
          </div>
      
          <button class="btn">Invia il tuo messaggio</button>

        </div>

        <div class="contact-bottom">

   <div class="social-block">
    <p class="social-title">Seguimi qui</p>

    <div class="social-links">
      <a href="https://www.youtube.com/@maurabalocconumero1448" class="social-item" target="_blank" rel="noopener">
        <img src="/img/youtube.svg" alt="YouTube">
        <span>YouTube</span>
      </a>

      <a href="https://www.instagram.com/mayblu7729/" class="social-item" target="_blank" rel="noopener">
        <img src="/img/instagram.svg" alt="Instagram">
        <span>Instagram</span>
      </a>

      <a href="https://www.facebook.com/maura.balocco" class="social-item" target="_blank" rel="noopener">
        <img src="/img/facebook.svg" alt="Facebook">
        <span>Facebook</span>
      </a>
     </div>
    </div>

   <div class="contact-legal">
    <p class="social-title">Dati Fiscali e professionali</p>

    <p><strong>Dott.ssa Maura Balocco</strong></p>
    <p>Psicologa Clinica – Biogenealogista – Scrittrice</p>
    <p>Iscr. Albo Psicologi Piemonte n. A7987-2016</p>
   </div>

   </div>
  </div>
 </div> 
</section>

{{ end }}