<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&family=Montserrat:wght@300;400&family=La+Belle+Aurore&display=swap">
</head>

<body class="kind-{{ .Kind }}{{ with .File }} page-{{ .BaseFileName }}{{ end }}">

  {{ partial "header.html" . }}

  <main class="page-wrapper">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

</body>
</html>