<section class="about">

  <div class="about-wrapper">

    <div class="about-inner">

      <div class="about-text">
        <h2>Chi sono</h2>

        <p>
          <p>
Mi chiamo Maura Balocco, sono Dott.ssa in Psicologia Clinica e il mio percorso nasce da un’esperienza personale intensa, che ha dato origine a una profonda trasformazione interiore. 

Nel tempo ho scelto di orientare i miei studi e la mia ricerca verso una comprensione autentica dell’essere umano, esplorando il legame tra mente, emozioni e corpo. 


Da qui nasce il mio approccio: un cammino che integra esperienza, intuizione e ascolto, per accompagnare ogni persona verso un equilibrio più profondo e duraturo.
</p>

  <a href="/chi-sono" class="btn-about">
      Scopri di più su di me
    </a>
        
      </div>

      <div class="about-image">
        <img src="/img/maura.png" alt="Maura Balocco">
      </div>

    </div>


  </div>

</section>