<section class="about">
  <div class="about-inner">

    <div class="about-text">
      <h2>Chi sono</h2>

      <p>
        Mi chiamo Maura Balocco, sono Dott.ssa in Psicologia Clinica.
        Il mio percorso nasce da un’esperienza personale profonda,
        che mi ha portata a trasformare la paura in uno strumento di comprensione.
      </p>

      <p>Psicologa Clinica - Parologa - Biogenealogista - Lettura inconscia del sintomo. Scrittrice. Albero genealogico e artista.
      </p>

      <p>
        Oggi accompagno le persone in un percorso di consapevolezza
        che integra mente, emozioni e vissuto.
      </p>
    </div>

    <div class="about-image">
      <img src="/img/maura.png" alt="Maura Balocco">
    </div>

  </div>
</section>