<section class="book">
    <h2>I miei libri</h2>
  
    <div class="book-grid">
  
      <div class="book-card">
        <img src="img/libro1.jpg" alt="Libro 1">
        <h3>Titolo libro 1</h3>
        <a href="#" class="btn">Scopri</a>
      </div>
  
      <div class="book-card">
        <img src="img/libro2.jpg" alt="Libro 2">
        <h3>Titolo libro 2</h3>
        <a href="#" class="btn">Scopri</a>
      </div>
  
      <div class="book-card">
        <img src="img/libro3.jpg" alt="Libro 3">
        <h3>Titolo libro 3</h3>
        <a href="#" class="btn">Scopri</a>
      </div>
  
      <div class="book-card">
        <img src="img/libro4.jpg" alt="Libro 4">
        <h3>Titolo libro 4</h3>
        <a href="#" class="btn">Scopri</a>
      </div>
  
    </div>
  </section>