<section class="books">
  <div class="books-inner">

    <div class="books-intro">
      <h2>I miei libri</h2>
      <p>
        Ogni libro nasce da un percorso di ricerca e rappresenta uno strumento di consapevolezza e trasformazione.
      </p>
    </div>

    <div class="books-grid">

      <div class="book-card">
        <img src="/img/quando.webp" alt="Libro 1">
        <h3>Quando il sangue si esprime attraverso il segreto</h3>
        <p>La legge delle & lune: Trovate al link il contenuto del paragrafo dedicato a questa importantissima legge che potrà aiutarvi in modo pratico a collegare il sintomo al trauma. (Pp. 52-cartaceo - Pp. 87 - ebook)</p>
        <a href="/libri/sangue-segreto/" class="btn">Vai al libro →</a>
      </div>

      <div class="book-card">
        <img src="/img/oltre.webp" alt="Libro 2">
        <h3>Oltre sangue e segreto</h3>
        <p>La gravidanza: Trovate al link il contenuto del paragrafo dedicato alla gravidanza, per conoscere risvolti legati al concepimento e alla formazione del feto nel ventre materno. Nel libro si tratta la vita e la morte. (Pp. 35).</p>
        <a href="/libri/oltre-sangue/" class="btn">Vai al libro →</a>
      </div>

      <div class="book-card">
        <img src="/img/sangue-segreto.webp" alt="Libro 3">
        <h3>Sangue e Segreto</h3>
        <p>I denti in cattedra: Trovate al link il contenuto del paragrafo dedicato alla rappresentazione dell’albero genealogico e dei suoi componenti nella bocca, compresa la simbologia dell’ultima cena, famoso dipinto di L. Da Vinci. (Pp. 186)</p>
        <a href="/libri/sangue-e-segreto/" class="btn">Vai al libro →</a>
      </div>

      <div class="book-card">
        <img src="/img/linguaggio.webp" alt="Libro 4">
        <h3>Il linguaggio degli uccelli</h3>
        <p>Potenza dei numeri in parole: Trovate al link il contenuto del paragrafo dedicato al mio modo di interpretare i suoni delle parole (Pp. 72)</p>
        <a href="/libri/il-linguaggio-degli-uccelli/" class="btn">Vai al libro →</a>
      </div>

    </div>

  </div>
</section>