<footer class="site-footer">

  <div class="footer-inner">

    <div class="logo">
      <a href="/">
        <img src="/img/logom.png" alt="logo">
      </a>
    </div>

    <p class="footer-brand">Dott.ssa Maura Balocco</p>

    <p class="footer-role">
      Psicologa Clinica – Biogenealogista – Scrittrice – Parologa
    </p>

    <p class="footer-data">
      Iscr. Albo Psicologi Piemonte n. A7987-2016<br>
      P.IVA: 03706860040
    </p>

    <div class="footer-links">
       <a href="/">Home</a>
      <a href="/metodo">Metodo</a>
      <a href="/libri">Libri</a>
      <a href="/contatti">Contatti</a>
    </div>

    <p class="footer-copy">
      © 2026 Tutti i diritti riservati
    </p>

    <p class="footer-dev">
      Realizzato con ♥️ da <span>Manuel – Assembler Studio</span>
    </p>

  </div>

</footer>