<header class="site-header">

  <div class="header-inner">

    <div class="logo">
      <a href="/">
        <img src="/img/rossolog.webp" alt="logo">
      </a>
    </div>

    <nav class="main-nav">
      <a href="/">HOME</a>
      <a href="/chi-sono">Chi sono</a>
      <a href="/metodo">Metodo</a>

      <div class="dropdown">
        <a href="/libri/" class="dropdown-trigger">Libri</a>

        <div class="dropdown-menu">
          <a href="/libri/sangue-segreto/">Quando il sangue si esprime attraverso il Segreto</a>
          <a href="/libri/oltre-sangue/">Oltre Sangue e Segreto</a>
          <a href="/libri/sangue-e-segreto/">Sangue e Segreto</a>
          <a href="/libri/il-linguaggio-degli-uccelli/">Il linguaggio degli uccelli</a>
        </div>
      </div>

      <a href="/contatti">Contatti</a>

    </nav>

  </div>

</header>