<section class="hero">

  <div class="hero-content">
  
    <h1>Maura Balocco</h1>
  
    <p class="hero-nickname">..."MayBlu"</p>
  
    <p class="hero-role">
      Psicologa Clinica – Parologa – Biogenealogista – Lettura inconscia del sintomo – Scrittrice
    </p>
  
    <blockquote>
      “Solo chi ha camminato attraverso l’inferno del dolore e ne è uscito vivo,
      può portare nel mondo uno strumento di aiuto unico e potente.”
    </blockquote>
  
    <a href="#metodo" class="btn">Scopri il mio approccio</a>
  
  </div>

</section>