<section class="method" id="metodo">

  <div class="method-inner">

    <div class="method-wrapper"> 

    <div class="method-intro">
      <h2>I miei strumenti</h2>

      <p>
        Quello che ad oggi e da sempre mi muove verso l’aiuto del prossimo è la <strong>PASSIONE</strong> e la grandissima curiosità verso ogni aspetto riguardante la natura umana. 
        In primis mi reputo una ricercatrice e vorrei donare al mondo un nuovo approccio legato alla cura, ovvero
        l’integrazione fra emozioni, mente e corpo.
      </p>
    </div>
    
      <div class="method-cta">
        <a href="/metodo" class="btn">Scopri il mio metodo completo →</a>
      </div>

    <div class="method-grid">

      <div class="method-card">
        <div class="method-img">
          <img src="/img/albero.jpg" alt="Albero genealogico">
        </div>
        <div class="method-content">
          <h3><span>Albero genealogico</span></h3>
          <p>
            Analisi delle dinamiche familiari e delle influenze che attraversano le generazioni.
          </p>
           <a href="https://www.youtube.com/watch?v=vuTzFrOpV0Q"
            target="_blank"
            rel="noopener"
            class="yt-link">
            <img src="/img/youtube.svg" alt="" aria-hidden="true">
            <span>Guarda su YouTube</span>
          </a>  
        </div>
      </div>

      <div class="method-card">
        <div class="method-img">
          <img src="/img/psicosomatica.png" alt="Psicosomatica">
        </div>
        <div class="method-content">
          <h3><span>Psicosomatica<br>&nbsp;</span></h3>
          <p>
            Connessione tra sintomi fisici, emozioni e vissuto interiore.
          </p>
          <a href="https://www.youtube.com/watch?v=-p9WxZGywuY"
             target="_blank"
              rel="noopener"
              class="yt-link">
            <img src="/img/youtube.svg" alt="" aria-hidden="true">
           <span>Guarda su YouTube</span>
          </a>
        </div>
      </div>

      <div class="method-card">
        <div class="method-img">
          <img src="/img/nomi.png" alt="Interpretazione della parola">
        </div>
        <div class="method-content">
          <h3><span>Interpretazione della Parola</span></h3>
          <p>
            Lettura profonda del linguaggio e del suo significato inconscio.
          </p>
          <a href="https://www.youtube.com/watch?v=XqhlGyMmLgg"
              target="_blank"
              rel="noopener"
              class="yt-link">
            <img src="/img/youtube.svg" alt="" aria-hidden="true">
            <span>Guarda su YouTube</span>
          </a>
        </div>
      </div>

    </div>

   </div> 
  </div>

</section>