{{ define "main" }}

<section class="books-page">

  <div class="books-page-container">

    <header class="books-page-header">
      <h1>I miei libri</h1>
      <p>
       “La mia intuizione, nero su bianco nei miei libri, strumento di aiuto per
        conoscere sé stessi e il mondo. <br>
         
        Ho scelto alcuni paragrafi dei miei libri per
        esporVi la potenzialità dei contenuti”
      </p>
    </header>

    <div class="books-page-grid">

      {{ range $i, $page := .Pages.ByWeight }}

      <article class="book-item {{ if modBool $i 2 }}reverse{{ end }}">

        <a href="{{ $page.RelPermalink }}" class="book-cover-link">
          <img src="{{ $page.Params.cover }}" alt="{{ $page.Title }}">
        </a>

        <div class="book-item-content">
           <h2>{{ $page.Title }}</h2>

           {{ with $page.Params.subtitle }}
           <p class="book-subtitle">{{ . }}</p>
           {{ end }}

           {{ with $page.Params.excerpt }}
           <p>{{ . }}</p>
           {{ end }}

           <a href="{{ $page.RelPermalink }}" class="btn">Scopri il libro</a>
         </div>

      </article>

      {{ end }}

    </div>

  </div>

</section>

{{ end }}