{{ define "main" }}

<section class="metodo-page">

  <div class="metodo-container">

    <!-- HERO -->
    <header class="metodo-header reveal">
      <h1>Come opero</h1>
      <p class="subtitle">
        Un approccio che integra emozioni, mente e corpo.
      </p>
    </header>

    <!-- INTRO -->
    <div class="metodo-intro reveal">
      <p>
        Quello che mi muove verso l’aiuto del prossimo è la
        <strong>passione</strong> e la grandissima curiosità verso ogni aspetto riguardante la
        natura umana. In primis mi reputo una ricercatrice e vorrei donare al
        mondo, in tempi non ancora sospetti, un nuovo approccio legato alla cura,
        ovvero l’integrazione fra le emozioni, la mente e il corpo”.
      </p>
    </div>

    <!-- STRUMENTI -->
    <div class="metodo-tools reveal">

      <div class="tool">
        <img src="/img/albero.png" alt="">
        <h3>Albero genealogico</h3>
        <p>Analisi delle dinamiche familiari e delle influenze che attraversano le generazioni. </p>
        <a href="https://youtube.com/IL-TUO-CANALE" target="_blank" class="btn-youtube">
            Guarda su YouTube ->
        </a>
      </div>


      <div class="tool">
        <img src="/img/psicosomatica.png" alt="">
        <h3>Psicosomatica</h3>
        <p>Connessione tra sintomi fisici, emozioni e vissuto interiore.</p>
        <a href="https://youtube.com/IL-TUO-CANALE" target="_blank" class="btn-youtube">
            Guarda su YouTube ->
        </a>
      </div>

      <div class="tool">
        <img src="/img/nomi.png" alt="">
        <h3>Interpretazione della parola</h3>
        <p>Lettura profonda del linguaggio e del suo significato inconscio. </p>
        <a href="https://youtube.com/IL-TUO-CANALE" target="_blank" class="btn-youtube">
            Guarda su YouTube ->
        </a>
      </div>

    </div>

    <!-- MANIFESTO -->
    <div class="metodo-manifesto reveal">
      <p>
        Il mio campo operativo riguarda la lettura dell’”ALBERO GENEALOGICO” e la
        “PSICOSOMATICA”, a cui ho aggiunto “L’INTERPRETAZIONE DELLA PAROLA”. <br>
        
        Utilizzo un metodo terapeutico personale e unico, sviluppato da anni di
        ricerca e studio, e affinato da corroborata esperienza clinica. Tale metodo si
        avvale della conoscenza dell’ <strong>assonanza inconscia</strong>  termine da me
        coniato per evidenziare un connubio fra la parola e il suo significato a
        livello inconsapevole, con il supporto dell’etimologia e di una buona dose di
        intuizione.
      </p>
    </div>
      <div class="metodo-cta reveal">
        <p>Se senti che questo approccio risuona con te, possiamo iniziare insieme.</p>
        <a href="/contatti" class="btn">Prenota un colloquio</a>
      </div>
    </div>
  </div>

</section>

{{ end }}